<div class="headerdiv">
    <h2 class="marginTop marginLeft">Assignment-I Submission</h2>
    <span class="marginTop marginLeft">Hi! Hope you and your family is doing well .</span>
    <span class="marginTop marginLeft">Below are the questions given , you all need to fill this form before 21/09/2021 23:59pm 🕤 .</span>
    <span class="marginTop marginLeft">
        Task to be Done ✅-
    </span>
    <span class="marginLeft">1.&nbsp;What is DBMS? Where is DBMS being used?</span>
    <span class="marginLeft">2.&nbsp;What are the difference between Data and Information?</span>
    <span class="marginLeft">3.&nbsp;What is aim of DBMS? Why we use DBMS?</span>
    <span class="marginLeft">4.&nbsp;What is data? How many kinds of data are there?</span>
    <span class="marginLeft">5.&nbsp;What is Database? Explain.</span>
    <span class="marginLeft">6.&nbsp;Discuss the file system approach? What are its disadvantages?</span>
    <span class="marginLeft">7.&nbsp;What are the components of DBMS? Explain with suitable                   example.</span>
    <span class="marginLeft">8.&nbsp;Differentiate the file system and DBMS.</span>
    <span class="marginLeft">9.&nbsp;What are the features of DBMS? Explain.</span>
    <span class="marginLeft">10.&nbsp;Write the advantages and disadvantages of DBMS.</span>
    <span class="marginTop"></span>
    <span class="marginTop marginLeft">Note ✅ - Only Handwritten Assignment would be accepted & Do copy from Other .</span>
    <span class="marginTop"></span>
    <span class="marginTop"></span>
    <span class="marginTop"></span>
</div>