<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo</title>
        <link rel="stylesheet" href="../static/home.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            body{
                display: flex;
                flex-direction: column;
                background-color: rgb(240,235,248);
            }
            .headerdiv{
                margin-left: auto;
                margin-right: auto;
                background-color: white;
                height: auto;
                width: 500px;
                border-radius: 14px;
                display: flex;
                flex-direction: column;

            }
            .marginTop{
                margin-top: 14px;
                
            }
            .marginLeft{
                margin-left: 5px;
            }
            .formdiv{
                margin-left: auto;
                margin-right: auto;
                width: 500px;
                color: rgb(0, 0, 0);
                
                font-weight: 600;
                margin-top: 13px;
            }
            .commondiv{
                background-color: white;
            }
        </style>
    </head>

    <body>
        <%- include('./header'); %>
        <%- include('./form')%>
    </body>
</html>